* {
  font-family: "Wix Madefor Display", sans-serif;
}

.container {
  margin: 0;
  padding: 0;
}

.img-logo {
  margin-top: 5%;
  text-align: center;
}

h2 {
  margin-bottom: 0%;
}

hr {
  opacity: 0.35;
  width: 33.5%;
}

.top {
  text-align: center;
  display: block;
  margin-bottom: 1.8%;
  line-height: 70%;
}

.main-container {
  display: block;
  text-align: center;
  margin-top: 1.8%;
  margin-bottom: 1.8%;
}

ol {
  margin: 0;
}

.text-1 {
  margin-left: 30%;
  margin-right: 31%;
}

.text-2 {
  margin-left: 25%;
  margin-right: 28%;
}

.about-hr1 {
  opacity: 0.35;
  width: 43%;
}

.about-hr2 {
  opacity: 1;
  width: 43%;
}

.down {
  text-align: center;
  margin-top: 1.9%;
  line-height: 6%;
}

a {
  text-decoration: none;
  color: white;
}

.down-btn {
  color: white;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 4px;
}

button {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 200px;
  color: white;
  margin-top: 1%;
  padding: 1%;
  width: 8%;
  line-height: 7%;
  font-weight: bold;
  cursor: pointer;
}
