  *{
   font-family: 'Wix Madefor Display', sans-serif;
 }
 
 .container{
   text-align: center;
 }
 
 .img-logo{
   margin-top: 10%;
 }
 
 .top{
   display:block;
   margin-bottom: 2.7%;
   line-height: 90%;
 }
 
 .main-container{
   display: block;
  margin-top: 2.7%;
  margin-bottom: 2.7%;
  line-height: 70%
  padding: 0;
 } 
 
 h2{
   margin-bottom: 0%;
 }
 
 hr {
   opacity: 0.1;
 }
 
 .down-hr{
   opacity: 0.5;
 }
 
 .down{
   margin-top: 2.7%;
   line-height: 6%;
 }
 
button{
  background-color: blue;
  border: 1px solid blue;
  border-radius: 200px;
  color: white;
  margin-top: 2.7%;
  padding: 1.8%;
  width: 19%;
  font-weight: bold;
  cursor: pointer;
}




